extend layout

block content
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript")
    script(src="/javascripts/option.js" type="text/javascript")
    h1 옵션 등록 (#{title})
    form(action='/addoption_p' method="post")
        table
            tr  
                th
                    label 옵션 명
                td
                    input(type="text" name="CATNAM")
            tr
                th
                    label 옵션 항목
                td
                    input(type="text" name="OPTNAM" required)
                td
                    input(type="number" name="OPTCST" placeholder="가격" required)
            tr
                th
                    label 옵션 항목
                td
                    input(type="text" name="OPTNAM" required)
                td
                    input(type="number" name="OPTCST" placeholder="가격" required)
                td
                    button#addOption(type="button") 항목추가
            tr#optsubmit
                td
                    input(type="submit" value="등록")
                
