extend layout

block content
    h1 회원등록 (#{title})
    form(action='/adduser_p' method="post")
        label 아이디  
            input(type="text" name="USERID")
            br
        label 비밀번호
            input(type="password" name="USERPW")
            br
        label 이름  
            input(type="text" name="USRNAM")
            br
        label 휴대폰 번호  
            input(type="tel" name="MOBNUM")
            br
        label 생일  
            input(type="date" name="BIRDAY")
            br
        label 성별  
            label(class="sexcod") 남
                input(type="radio" name="SEXCOD" value="M")
            label(class="sexcod") 여
                input(type="radio" name="SEXCOD" value="F")
            br
        label 이메일  
            input(type="email" name="EMLADD")
            br
        label 등록매장  
            input(type="text" name="REGSTO")
            br
        input(type="submit" value="등록")