<html>
	<head>
		<title>NFC STAR</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/nfcstar-admin-styles.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery-ui.css"/>
		<link rel="stylesheet" type="text/css" href="/jqGrid-4.6.0/css/ui.jqgrid.css" />
		<script type="text/javascript" src="/jquery/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="/jquery/jquery-ui.js"></script>
		<script type="text/javascript" src="/jquery/json2.js"></script>
		<script type="text/javascript" src="/jquery/jquery.alphanum.js"></script>
		<script type="text/javascript" src="/jquery/jquery.cookie.js"></script>
		<script type="text/javascript" src="/jquery/ajaxupload.js"></script>
		<script type="text/javascript" src="/jquery/jquery.form.js"></script>
		<script type="text/javascript" src="/jquery/jquery.fileupload.js"></script>
		<script type="text/javascript" src="/jquery/jquery.mask.js"></script>
		<script type="text/javascript" src="/jqGrid-4.6.0/js/i18n/grid.locale-kr.js"></script>
		<script type="text/javascript" src="/jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
		<script type="text/javascript" src="/jqGrid-4.6.0/js/my.jqGrid.js"></script>
		<script type="text/javascript" src="/jquery/my.jquery.js"></script>
		<script type="text/javascript" src="/jquery/my.ajaxupload.js"></script>
		<script type="text/javascript" src="/javascripts/js/common-script.js"></script>
		<script type="text/javascript" src="/javascripts/js/html5shiv.js"></script>
		<script type="text/javascript" src="/javascripts/js/IE9.js"></script>
		<script type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	</head>
	<body>
		script.
			function logout() {
				var conf = confirm("종료하시겠습니까?");
				if(conf){
					location.href = "/logout";
				}
			}
		<div id="tnav_wrap">
			<div class="in_1000"> 
				<a href="#" id="logo"> <img src="/views/admin/logo.png" /></a>
				<!-- 로고사이즈 200px;-->
				<nav id="tnav">
					<ul>
						<li><a href="/admin/code/code01">기본코드</a></li>
						<li><a href="/admin/store/store01">상점관리</a></li>
						<li><a href="/admin/sale/sale01">매출관리</a></li>
						<li><a href="/admin/pay/pay01">결제관리</a></li>
						<li><a href="/admin/customer/customer01">고객관리</a></li>
					</ul>
				</nav>
				<div id="admin_info">
					<ul>
						<li class="top_space"><span class="bold_w">관리자</span>님 반갑습니다.</li>
						<li><img src="/views/admin/btn_admin_edit.png" onclick="javascript:location.href='/admin/user/edit';" style="cursor:pointer;"></li>
						<li><img src="/views/admin/btn_admin_logout.png" onclick="logout();" style="cursor:pointer;"></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="top_line"></div>
				<div id="con_wrap">
					

		<div id="left_wrap">
			<div id="left_titel"> <span class="left_menu_title">상점관리</span> </div>
			<nav id="left_menu">
				<ul>
				<li><a href='/admin/store/store01'><span>업체관리</span></a></li>
				<li><a href='/admin/store/store05'><span>업체관리자</span></a></li>
				<li><a href='/admin/store/store02'><span>상점관리</span></a></li>
				<li><a href='/admin/store/store03'><span>상점관리자</span></a></li>
				<li><a href='/admin/store/store04'><span>상점벤사</span></a></li>
			</ul>
			</nav>
		</div>
					

		script.
			var colName01 = ['상점번호', '상점명'];
			var colModel01 = [
				{name: 'STOSEQ', 	index: '상점번호', 	width: 10, 	editable: false,		template:numberTemplate,		hidden:true		},
				{name: 'STONAM', 	index: '상점명', 		width: 10, 	editable: false,		template:textTemplate			}
			];
			
			$(document).ready(function(){
				$("#dataList01").datagrid(null, colName01, colModel01, 450, false);
				$('#dataList01').setGridParam({
					onCellSelect: function(rowid, iCol, cellcontent, e) {  			
						getDataForm02( $(this).getRowData( rowid ) );
					}
				});
				$("#regnum").mask("999-99-99999");
				$("#telnum, #faxnum").numeric();
				$("#posstr, #posend, #appstr, #append, #almstr, #almend, #alm2str, #alm2end, #regdat").datepicker({
					changeYear: true
				});
			});
			
			function getPost(){
				daum.postcode.load(function(){
					new daum.Postcode({
						oncomplete: function(data) {
							$("#addnum").val(data.zonecode);
							$("#addnam1").val(data.address);
							$("#addnam1").focus();
						}
					}).open();
				});
			}
			
			function getDataList01(){
				clearDataForm02();
				$.ajax({
					url: "/admin/store/store02_select",
					data:$("[name=form_search01]").serialize(),
					success: function(data) {
						$("#dataList01").setDatagrid(data);
					}
				});
			}
			
			function getDataForm02(rowData){
				clearDataForm02();
				var STOSEQ 	= rowData.STOSEQ;
				$.ajax({
					url: "/admin/store/store02_select",
					data:{STOSEQ:STOSEQ},
					success: function(data) {
						$.setFormData("form_data02", data[0]);
						$("#stlogo").attr('src', '/images/'+data[0].STLOGO);
					}	
				});
			}
			
			function clearDataForm02(){
				document.form_data02.reset();
				$("#stonam").attr("readonly", true).addClass("input_readonly");
			}
			
			function resetDataForm02(){
				clearDataForm02();
				$("#stonam").attr("readonly", false).removeClass("input_readonly");
			}
			
			function chkForm(obj){
				if(obj==document.getElementById("stonam")){
					if(obj.value==""){
						alert("상점명를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				//- } else if(obj==document.getElementById("dlvadd")){
				//- 	if(obj.value==""){
				//- 		alert("시군를 입력하여 주세요."); 
				//- 		obj.focus();
				//- 		return false;	
				//- 	}
				} else if(obj==document.getElementById("posstr")){
					if(obj.value==""){
						alert("시작일를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				} else if(obj==document.getElementById("posend")){
					if(obj.value==""){
						alert("종료일를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				} else if(obj==document.getElementById("appstr")){
					if(obj.value==""){
						alert("앱포스 시작일를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				} else if(obj==document.getElementById("append")){
					if(obj.value==""){
						alert("앱포스 종료일를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				} else if(obj==document.getElementById("almstr")){
					if(obj.value==""){
						alert("딩동이 시작일를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				} else if(obj==document.getElementById("almend")){
					if(obj.value==""){
						alert("딩동이 종료일를 입력하여 주세요."); 
						obj.focus();
						return false;	
					}
				}
				return true;
			}
			
			function setDataForm02(){
				if(!chkForm($("#stonam")[0])) return false;
				//- if(!chkForm($("#dlvadd")[0])) return false;
				$.ajax({
					url: "/admin/store/store02_proc",
					data:$("[name=form_data02]").serialize(),
					success: function(data) {
						if(data.result){
							alert("저장되었습니다.");
							getDataList01();
						}else{
							alert(data.msg);
						}
					}
				});
			}
			function imgUpload(obj) {
				if($(obj).val() != "") {
					var formData = new FormData();
					formData.append('image', $(obj)[0].files[0]);
					$.ajax({
						url: '/imageUpload',
						data: formData,
						type: 'POST',
						cache: false,
						timeout: 6000,
						contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
						processData: false, // NEEDED, DON'T OMIT THIS
						success: function(data) {
							if(data.result){
								$(obj).parent().children().eq(0).attr('src', '/images/'+data.file);	
								$(obj).parent().children().eq(1).attr('value', data.file);
							}else{
								alert(data.msg);
							}
						}
					});
				}
			}
		<div id="content_link"> <img src="/views/admin/con_title_bg.jpg" id="con_title_bg">
			<div id="con_title"><img src="/views/admin/icon_link.png">&nbsp;상점관리&nbsp;&gt;&nbsp;<span class="bold">상점관리</span></div>
		</div>
		<div id="content">
			<div id="content_title">
				<div class="view_title"><span class="view_title2">상점</span>관리</div>
				<div class="view_title_line"></div>
			</div>
			<div class="view">
			<!-- Content Start -->
				<table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="dddddd">
					<tr>
						<td width="35%" height="45" align="center" bgcolor="e9e9e9">
							<form name="form_search01">
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><img src="/views/admin/icon_arrow_b.png" width="4" height="5"></td>
										<td class="padding3"><span class="view_text">상점명</span></td>
										<td class="padding3"><input  name="STONAM" type="text" class="view_textfiled2"></td>
										<td class="padding3"><img src="/views/admin/btn_search.gif" onclick="getDataList01();"/></td>
									</tr>
								</table>
							</form>
						</td>
						<td width="65%" align="right" bgcolor="e9e9e9">
							<form name="form_search02">
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><img src="/views/admin/btn_new_save.gif" onclick="resetDataForm02();"/></td>
										<td class="padding3"><img src="/views/admin/btn_save.gif" onclick="setDataForm02();"/></td>
										<td width="5"></td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
					<tr>
						<td valign="top" class="table_con">
							<table id="dataList01"></table>
							<form name="form_data01">
							</form>
						</td>
						<td class="table_con">
							<form name="form_data02">
								<table width="100%" class=table_default>
									<colgroup>
										<col width="24%"/><col width="26%"/><col width="24%"/><col width="26%"/>
									</colgroup>
									<tbody>
										<tr style="display:none">
											<th>상점번호</th>
											<td colspan="3"><input type="text" id="stoseq" name="STOSEQ" readonly="readonly" class="view_textfiled3 input_readonly"/></td>
										</tr>
										<tr>
											<th>상점명</th>
											<td colspan="3"><input type="text" id="stonam" name="STONAM" readonly="readonly" class="view_textfiled3 input_readonly" maxlength="20"/></td>
										</tr>
										<tr>
											<th>업체명</th>
											<td>
												<select id="cpnseq" name=CPNSEQ style="width:140px">
													<option value="0" selected>없음</option>
													
												</select>
											</td>
											<th>벤사</th>
											<td>
												<select id="vancod" name="VANCOD" style="width:140px">
													<option value="0" selected>없음</option>
													
														<option value="10">KICC</option>
													
														<option value="20">NICE</option>
													
												</select>
											</td>
										</tr>
										<tr>
											<th>대표자명</th>
											<td><input type="text" id="rstnam" name="RSTNAM" class="view_textfiled2" maxlength="10"/></td>
											<th>사업자번호</th>
											<td><input type="text" id="regnum" name="REGNUM" class="view_textfiled2" maxlength="12"/></td>
										</tr>
										<tr>
											<th>업태</th>
											<td><input type="text" id="typnam" name="TYPNAM" class="view_textfiled2" maxlength="10"/></td>
											<th>종목</th>
											<td><input type="text" id="itmnam" name="ITMNAM" class="view_textfiled2" maxlength="10"/></td>
										</tr>
										<tr>
											<th>전화번호</th>
											<td><input type="text" id="telnum" name="TELNUM" class="view_textfiled2" maxlength="15"/></td>
											<th>팩스번호</th>
											<td colspan="3"><input type="text" id="faxnum" name="FAXNUM" class="view_textfiled2" maxlength="15"/></td>
										</tr>
										<tr>
											<th>이메일</th>
											<td colspan="3"><input type="text" id="emlurl" name="EMLURL" class="view_textfiled4" maxlength="20"/></td>
										</tr>
										<tr>
											<th>홈페이지</th>
											<td colspan="3"><input type="text" id="homurl" name="HOMURL" class="view_textfiled4" maxlength="20"/></td>
										</tr>
										<tr>
											<th>이미지<br/>(134*37)</th>
											<td colspan="3">
												img(src="/images/empty.png" id="stlogo" width="50px")
												input(type="hidden" name="STLOGO")
												input(type="file" onchange="imgUpload(this)")
											</td>
										</tr>
										<tr>
											<th>우편번호</th>
											<td colspan="3">
												<input type="text" id="addnum" name="ADDNUM" readonly="readonly" class="view_textfiled2" maxlength="7"/>
												<input type="button" id="btn_searchPost" value="검색" onclick="getPost();" class="default_table_input"/>
											</td>
										</tr>
										<tr>
											<th>주소</th>
											<td colspan="3"><input type="text" id="addnam1" name="ADDNAM1" readonly="readonly" class="view_textfiled4" maxlength="50"/></td>
										</tr>
										<tr>
											<th>상세주소</th>
											<td colspan="3"><input type="text" id="addnam2" name="ADDNAM2" class="view_textfiled4" maxlength="50"/></td>
										</tr>
										<tr>
											<th>시군</th>
											<td colspan="3">
												<select id="dlvadd" name="DLVADD" style="width:100px">
													<option value="">없음</option>
													
														<option value="충남">충남</option>
													
														<option value="서울">서울</option>
													
														<option value="인천">인천</option>
													
														<option value="부산">부산</option>
													
														<option value="울산">울산</option>
													
														<option value="제주">제주</option>
													
														<option value="대전">대전</option>
													
														<option value="광주">광주</option>
													
														<option value="전북">전북</option>
													
														<option value="대구">대구</option>
													
														<option value="경북">경북</option>
													
														<option value="강원">강원</option>
													
														<option value="전남">전남</option>
													
														<option value="경기">경기</option>
													
														<option value="경남">경남</option>
													
														<option value="충북">충북</option>
													
														<option value="세종">세종</option>
												</select>
											</td>
										</tr>
										<tr>
											<th>포스시작일</th>
											<td><input type="text" id="posstr" name="POSSTR" readonly="readonly" class="view_textfiled1"/></td>
											<th>포스종료일</th>
											<td><input type="text" id="posend" name="POSEND" readonly="readonly" class="view_textfiled1"/></td>
										</tr>
										<tr>
											<th style="font-size:10px">앱포스시작일</th>
											<td><input type="text" id="appstr" name="APPSTR" readonly="readonly" class="view_textfiled1"/></td>
											<th style="font-size:10px">앱포스종료일</th>
											<td><input type="text" id="append" name="APPEND" readonly="readonly" class="view_textfiled1"/></td>
										</tr>
										<tr>
											<th style="font-size:10px">딩동이시작일</th>
											<td><input type="text" id="almstr" name="ALMSTR" readonly="readonly" class="view_textfiled1"/></td>
											<th style="font-size:10px">딩동이종료일</th>
											<td><input type="text" id="almend" name="ALMEND" readonly="readonly" class="view_textfiled1"/></td>
										</tr>
										<tr>
											<th style="font-size:10px">딩동이2시작일</th>
											<td><input type="text" id="alm2str" name="ALM2STR" readonly="readonly" class="view_textfiled1"/></td>
											<th style="font-size:10px">딩동이2종료일</th>
											<td><input type="text" id="alm2end" name="ALM2END" readonly="readonly" class="view_textfiled1"/></td>
										</tr>
										<tr>
											<th>등록일</th>
											<td><input type="text" id="regdat" name="REGDAT" readonly="readonly" class="input_readonly view_textfiled1"/></td>
										</tr>
									</tbody>
								</table>
							</form>
						</td>
					</tr>
				</table>
			<!-- Content End -->
			</div>
		</div>
		</div>
	</body>
</html>
