extends store_iframe_layout

block append head

block content
    script.
        $("#tab_name").html("마감내역");
        
        var nowdat = '';

        var colName01 = ['영업번호', '시작시간', '종료시간', '총판매건/금액', '배달건/금액', '테이블건/금액'];
        var colModel01 = [
            {name: 'SALSEQ',	index: '영업번호', 		width:  5, 	editable: false,		template:numberTemplate,		hidden:true		},
            {name: 'STRDAT', 	index: '시작시간', 		width: 15, 	editable: false,		template:defaultTemplate		},
            {name: 'ENDDAT', 	index: '종료시간',		width: 15, 	editable: false,		template:defaultTemplate		},
            {name: 'SALSTR', 	index: '총판매건/금액', 	width: 10, 	editable: false,		template:defaultTemplate		},
            {name: 'DLVSTR', 	index: '배달건/금액', 	width: 10, 	editable: false,		template:defaultTemplate		},
            {name: 'TBLSTR', 	index: '테이블건/금액', 	width: 10, 	editable: false,		template:defaultTemplate		}
        ];
        
        $(document).ready(function(){
            $("#dataList01").datagrid(null, colName01, colModel01, 450, false);
            $('#dataList01').setGridParam({
                ondblClickRow: function(rowid, iRow, iCol, e) {  	
                    var rowData = $('#dataList01').jqGrid ("getRowData", rowid);
                    getDataForm01Dailog( rowData );
                }
            });
            $("#strdat, #enddat").datepicker();
        });
        
        function getDataList01(){
            clearDataList01();
            $.ajax({
                url: "/pos/setup/saleList_select",
                data:$("[name=form_search01]").serialize(),
                success: function(data) {
                    $("#dataList01").setDatagrid(data);
                }
            });
        }
        
        function clearDataList01(){
            $("#dataList01").clearGridData().trigger("reloadGrid");
        }
        
        function getDataForm01Dailog(data){
            var dialog = $.defaultDialog("div_dialog", "/pos/setup/dialog/saleList", {SALSEQ:data.SALSEQ});
            dialog.dialog( "option", { title:"영업 내역",height:400, width:500 } );
        }
    form(name="form_search01")
        table(border="0" cellspacing="0" cellpadding="0" class="table_search")
            tr
                td(class="padding3 align_left" style="color:black;")
                    |영업시작일 : 
                    input(type="text" id="strdat" name="STRDAT" class="view_textfiled1" value=STRDAT maxlength="10" readonly="readonly")
                    |~ 
                    input(type="text" id="enddat" name="ENDDAT" class="view_textfiled1" value=ENDDAT maxlength="10" readonly="readonly")
                td.padding3.align_right
                    img(src="/views/admin/btn_search.gif" onclick="getDataList01();" class="pointer")
    table#dataList01