doctype html
html
    head
        title NFC STAR
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        block head
        link(rel="stylesheet" type="text/css" href="/stylesheets/css/jquery-ui.css")
        link(rel="stylesheet" type="text/css" href="/jqGrid-4.6.0/css/ui.jqgrid.css" )
        link(rel="stylesheet" type="text/css" href="/stylesheets/css/nfcstar-pos-sale-jqgrid-styles.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/css/nfcstar-pos-styles.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/css/nfcstar-pos-sale-styles.css")
        script(type="text/javascript" src="/jquery/jquery-1.11.1.js")
        script(type="text/javascript" src="/jquery/jquery-ui.js")
        script(type="text/javascript" src="/jquery/json2.js")
        script(type="text/javascript" src="/jquery/jquery.alphanum.js")
        script(type="text/javascript" src="/jquery/jquery.mask.js")
        script(type="text/javascript" src="/jquery/jquery.cookie.js")
        script(type="text/javascript" src="/jquery/ajaxupload.js")
        script(type="text/javascript" src="/jquery/jquery.form.js")
        script(type="text/javascript" src="/jquery/jquery.fileupload.js")
        script(type="text/javascript" src="/jqGrid-4.6.0/js/i18n/grid.locale-kr.js")
        script(type="text/javascript" src="/jqGrid-4.6.0/js/jquery.jqGrid.src.js")
        script(type="text/javascript" src="/jqGrid-4.6.0/js/my.jqGrid.js")
        script(type="text/javascript" src="/jquery/my.jquery.js")
        script(type="text/javascript" src="/jquery/my.ajaxupload.js")
        script(type="text/javascript" src="/javascripts/js/common-script.js")
        script(src="http://dmaps.daum.net/map_js_init/postcode.v2.js")
    body
        block content