* {
  padding: 0;
  margin: 0;
}
header,
nav,
footer,
article,
section,
aside,
hgroup {
  /* ei9 이하 적용 */
  display: block;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  font-family: "맑은 고딕", Dotum, Arial;
  font-size: 13px;
  color: #747474;
}
select {
  border: 1px solid #dddddd;
  height: 23px;
}
.in_1000 {
  width: 1000px;
  position: relative;
}

#tnav_wrap {
  width: 100%;
  height: 52px;
  background-color: #3d3e42;
  border-bottom: 1px solid #000000;
}
#logo {
  position: absolute;
  top: 0;
  left: 0;
}
#tnav {
  position: absolute;
  top: 15px;
  left: 200px;
}
#tnav li {
  float: left;
}
#tnav a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
  padding: 0 20px;
  text-shadow: 1px 1px 1px #000000;
}
#tnav a:hover {
  color: #ff6600;
}
#tnav li:first-child a {
  padding-left: 0;
}
#admin_info {
  position: absolute;
  top: 18px;
  right: 10px;
}
#admin_info li {
  float: left;
  font-family: "돋움";
  font-size: 12px;
  color: #bbbbbb;
  padding-left: 5px;
}
.bold_w {
  color: #ffffff;
  font-weight: bold;
}
.top_space {
  padding-top: 2px;
}
#top_line {
  width: 100%;
  height: 3px;
  background-color: #e70000;
}

#con_wrap {
  position: relative;
  overflow: hidden;
  background-image: url("/views/admin/con_bg.jpg");
  background-repeat: repeat-y;
}
#left_wrap {
  position: relative;
  width: 194px;
  background-color: #676a73;
  float: left;
}
#left_titel {
  width: 194px;
  height: 60px;
  background-color: #44444a;
  border-bottom: 1px solid #000000;
}
.left_menu_title {
  font-size: 18px;
  color: #ffffff;
  font-weight: 900;
  text-shadow: 1px 1px 1px #000000;
  padding: 14px 0 0 20px;
  display: block;
}
#left_menu li {
  width: 194px;
  height: 35px;
  border-top: 1px solid #767981;
  border-bottom: 1px solid #51535a;
  background-image: url("/views/admin/icon_arrow_w.png");
  background-repeat: no-repeat;
  background-position: 0 14px;
}
#left_menu a {
  font-size: 13px;
  height: 25px;
  color: #ffffff;
  padding: 10px 0 0 30px;
  display: block;
}
#left_menu a:hover {
  font-weight: 900;
  background-image: url("/views/admin/left_over.jpg");
}
#main {
  width: 900px;
  padding: 10px;
  text-align: center;
}
#content_link {
  width: 100%;
  height: 36px;
  background-color: #ededed;
}
#content {
  float: left;
  width: 814px;
  padding: 26px 10px 10px 26px;
}
#con_title_bg {
  float: left;
}
#con_title {
  float: left;
  font-family: "돋움";
  font-size: 11px;
  color: #777777;
  padding-left: 14px;
  margin-top: 10px;
}
.bold {
  font-weight: bold;
}
.view_title {
  color: #393e42;
  font-size: 24px;
  font-weight: 900;
  height: 32px;
  padding-bottom: 10px;
}
.view_title2 {
  color: #ff6d00;
}
.view_title_line {
  width: 100%;
  height: 3px;
  background-image: url("/views/admin/title_bg.png");
}
.view {
  padding-top: 20px;
  font-family: "돋움";
  font-size: 13px;
  color: #747474;
}
table {
  font-family: "돋움";
  font-size: 13px;
  color: #747474;
}
.view_text {
  color: #222222;
}
.view_textfiled1 {
  width: 100px;
  height: 23px;
  border: 1px solid #dddddd;
}
.view_textfiled2 {
  width: 140px;
  height: 23px;
  border: 1px solid #dddddd;
}
.view_textfiled3 {
  width: 220px;
  height: 23px;
  border: 1px solid #dddddd;
}
.view_textfiled4 {
  width: 360px;
  height: 23px;
  border: 1px solid #dddddd;
}

.table_con {
  background-color: #ffffff;
  padding: 5px;
  vertical-align: top;
}
.table_default {
  border: 0px solid white;
}
.table_default th {
  height: 26px;
  background-color: #ebebeb;
  padding-left: 20px;
  text-align: left;
  background-image: url("/views/admin/icon_dot.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.table_default td {
  background-color: #f5f5f5;
  padding-left: 10px;
}
.padding3 {
  padding-left: 3px;
}
#footer_wrap {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #2c2d30;
}
#footer_text {
  width: 270px;
  position: relative;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 11px;
  color: #8d8d8d;
}

.input_readonly {
  border: 0px solid white;
  background: #f5f5f5;
}
.input_disabled {
  border: 0px solid white;
  background: #ffffff;
  font-weight: bold;
}

.input_file label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
  overflow: hidden;
  width: 100px;
  height: 23px;
  background: #777;
  color: #fff;
  text-align: center;
  line-height: 23px;
}
.input_file label input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.input_file input[type="text"] {
  vertical-align: middle;
  display: inline-block;
  width: 150px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  padding: 0;
  border: 0;
  border: 1px solid #dddddd;
}
.input_file input[type="button"] {
  cursor: pointer;
  display: inline-block;
  border-width: 0px;
  vertical-align: middle;
  overflow: hidden;
  width: 100px;
  height: 23px;
  line-height: 23px;
  background: #777;
  color: #fff;
  text-align: center;
}

.default_table_input {
  cursor: pointer;
  display: inline-block;
  border-width: 0px;
  vertical-align: middle;
  overflow: hidden;
  width: 100px;
  height: 23px;
  line-height: 23px;
  background: #777;
  color: #fff;
  text-align: center;
}
