/**** start *****/
.transparent-dialog {
    background-color: rgba(255,255,255,0.0);
    border:0px;
}
.transparent-dialog .ui-dialog-titlebar {
	display:none
}
.transparent-dialog .ui-dialog-content{
	background-color: rgba(255,255,255,0.0);
    border:0px;
} 
.transparent-dialog .ui-widget-content{
	background-color: rgba(255,255,255,0.0);
    border:0px;
}

.tab-dialog {
	color:black;
}


.start_btn td {
padding-left:2px;
}
.start_text_box {
border:1px solid #ffffff;
width:180px;
height:22px;
font-family:"굴림";
font-size:16px;
font-weight:bold;
color:#000000;
}

/***** table *****/
.mian_table_top {
	height:36px;
}
.main_table_tab_text {
	font-family:'Malgun Gothic';
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	color:#FFFFFF;
}
.main_table_tab_text2 {
	font-family:'Malgun Gothic';
	font-size:15px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	color:#FFFFFF;
}
.main_table_tab_over {
	width:70px;
	height:36px;
	background-image:url('/views/pos/main_table_tab_over.png');
}
.main_table_tab {
	width:70px;
	height:36px;
	background-image:url('/views/pos/main_table_tab.png');
}
.main_table_top_count {
	width:317px;
	height:36px;
	background-image:url('/views/pos/main_table_count.jpg');
}
.main_table_count_text {
	font-family:'Malgun Gothic';
	font-size:15px;
	font-weight:bold;
	color:#000000;
}
.main_table_count_text2 {
	font-family:'Malgun Gothic';
	font-size:18px;
	font-weight:bold;
	color:#000000;
}
.main_table_con {
	background-image:url('/views/pos/main_table_con_bg.jpg');
	background-repeat:no-repeat;
	height:680px;
	padding-top:7px;
}
.main_table_btn_text {
	font-family:'Malgun Gothic';
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
}
.main_table_btn_text2 {
	font-family:'Malgun Gothic';
	font-size:15px;
	font-weight:bold;
	color:#fcff00;
}
.main_table_btn {
	background-image:url('/views/pos/main_table_btn.png');
	width:76px;
	height:82px;
}
.main_table_btn_over {
	background-image:url('/views/pos/main_table_btn_over.png');
	width:76px;
	height:82px;
}
.main_table_text_con {
	font-family:"굴림";
	font-size:10px;
	color:#000000;
	font-weight:bold;
}
.main_table_text_con  b{
	font-family:"굴림";
	font-size:12px;
	color:#000000;
	font-weight:bold;
}
.main_table_text_con li {
display:block;
padding-top:2px;
}
.main_table_text_no {
	font-family:'Malgun Gothic';
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
}
.main_table_text_title {
	font-family:'Malgun Gothic';
	font-size:15px;
	color:#ffffff;
	text-align:right;
}
.main_table_icon {
width:17px;
}
.main_table_text_time {
	font-family:Dotum;
	font-size:13px;
	color:#005aff;
	letter-spacing:-1;
}
.main_table_text_pay {
	font-family:'Malgun Gothic';
	font-size:15px;
	color:#000000;
}
.main_table {
	width:141px;
	height:135px;
}
.main_table_bg_padding {
padding:0 7px 0 7px;
}
.main_table_bg01 {
	background-image:url('/views/pos/main_table_bg01.png');
	background-repeat:no-repeat;
}
.main_table_bg01_noCheck {
	background-image:url('/views/pos/main_table_bg01_noCheck.gif');
	background-repeat:no-repeat;
}
.main_table_bg02 {
	background-image:url('/views/pos/main_table_bg02.png');
	background-repeat:no-repeat;
}
.main_table_bg03 {
	background-image:url('/views/pos/main_table_bg03.png');
	background-repeat:no-repeat;
}
.main_table_bg03_noCheck {
	background-image:url('/views/pos/main_table_bg03_noCheck.gif');
	background-repeat:no-repeat;
}
.main_table_bg04 {
	background-image:url('/views/pos/main_table_bg04.png');
	background-repeat:no-repeat;
}
.main_table_bg05 {
	background-image:url('/views/pos/main_table_bg05.png');
	background-repeat:no-repeat;
}
.main_table_bg06 {
	background-image:url('/views/pos/main_table_bg06.jpg');
	background-repeat:no-repeat;
}

/***** left *****/
.left_tab_text_over {
font-family:"돋움";
font-size:14px;
font-weight:bold;
color:#ffd800;
background-image:url('/views/pos/left_list_tab_ov.jpg');
height:34px;
display:block;
}
.left_tab_text {
font-family:"돋움";
font-size:14px;
font-weight:bold;
color:#ffffff;
background-image:url('/views/pos/left_list_tab.jpg');
height:34px;
display:block;
}
.left_list {
font-family:"돋움";
font-size:13px;
font-weight:bold;
color:#222222;
}

.left_list_con {
font-family:"굴림";
font-size:14px;
color:#010101;
}
.left_list_con02 {
font-family:"굴림";
font-size:16px;
color:#010101;
}
.left_list_con03 {
font-family:"굴림";
font-size:13px;
color:#010101;
}
.left_list_con_left {
padding-left:10px;
}
.left_list_con_right {
padding-right:10px;
}
.left_order_name {
font-family:'Malgun Gothic';
font-size:13px;
padding-left:18px;
}
.left_order_name_con {
font-family:"굴림";
font-size:14px;
font-weight:bold;
padding-top:4px;
}
.list_order_add {
font-family:"돋움";
font-size:14px;
font-weight:bold;
color:#fff000;
padding:13px 15px 10px 20px ;
}
.list_pay01 {
font-family:'Malgun Gothic';
font-size:16px;
padding-left:10px;
}
.list_pay02 {
font-family:"굴림";
font-size:24px;
font-weight:bold;
padding-right:10px;
color:#ff0000;
}
.list_pay03 {
font-family:'Malgun Gothic';
font-size:14px;
padding-left:23px;
}
.list_pay04 {
font-family:"굴림";
font-size:18px;
color:#000000;
font-weight:bold;
padding-right:10px;
}
.list_pay05 {
font-family:"굴림";
font-size:18px;
color:#b1b1b1;
font-weight:bold;
padding-right:10px;
}
/***** order table ****/
.test_table td {
	border:1px solid blue;
}
.div_noscroll {
	overflow:hidden;
}
.order_btn01 {
background-image:url('/views/pos/order_btn01.jpg');
background-repeat:no-repeat;
width:106px;
height:48px;
text-align:center;
font-family:'Malgun Gothic';
font-size:14px;
color:#000000;
}
.order_btn01_over {
background-image:url('/views/pos/order_btn01ov.jpg');
}
.order_btn02 {
background-image:url('/views/pos/order_btn02.jpg');
background-position:center;
background-repeat:no-repeat;
width:106px;
height:68px;
text-align:left;
font-family:'Malgun Gothic';
font-size:14px;
color:#000000;
}
.order_btn02 div{
	padding-left:6px
}
.order_btn02_title {
	display:block; width:95px; height:20px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}
.order_btn02_option {
font-size:12px;
}
.order_btn02_pay {
font-weight:bold;
font-size:14px;
}
/****** move table *****/
.move_btn01 {
background-image:url('/views/pos/move_btn01.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
font-family:'Malgun Gothic';
font-size:24px;
font-weight:bold;
text-align:center;
}
.move_btn01_over {
background-image:url('/views/pos/move_btn01.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
font-family:'Malgun Gothic';
font-size:24px;
font-weight:bold;
text-align:center;
color:#fff600;
}
.move_btn_no {
font-family:'Malgun Gothic';
font-size:20px;
color:#000000;
font-weight:bold;
text-align:center;
}
.move_btn_no2 {
font-family:'Malgun Gothic';
font-size:14px;
color:#ff0000;
text-align:center;
padding-bottom:4px;
}
.move_btn02 {
background-image:url('/views/pos/move_btn02.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
}
.move_btn03 {
background-image:url('/views/pos/move_btn03.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
}
.move_btn04 {
background-image:url('/views/pos/move_btn04.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
}
.move_btn05 {
background-image:url('/views/pos/move_btn05.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
}
.move_btn06 {
background-image:url('/views/pos/move_btn06.jpg');
background-repeat:no-repeat;
width:78px;
height:79px;
}
.move_con {
font-family:'Malgun Gothic';
font-size:18px;
color:#ffffff;
padding-left:15px;
padding-bottom:15px;
}
.move_con2 {
font-family:'Malgun Gothic';
font-size:24px;
color:#99ff00;
}

/****** delivery *******/
.delivery_list01_01 {
	width:4px;
	height:34px;
	background-image:url('/views/pos/delivery_list_bg01_1.jpg');
}
.delivery_list01_02 {
	background-image:url('/views/pos/delivery_list_bg01_2.jpg');
	padding-left:2px;
}
.delivery_list01_03 {
	width:36px;
	background-image:url('/views/pos/delivery_list_bg01_3.jpg');
}
.delivery_list02_01 {
	width:4px;
	height:34px;
	background-image:url('/views/pos/delivery_list_bg02_1.jpg');
}
.delivery_list02_02 {
	background-image:url('/views/pos/delivery_list_bg02_2.jpg');
}
.delivery_list02_03 {
	width:36px;
	background-image:url('/views/pos/delivery_list_bg02_3.jpg');
}
.delivery_list03_01 {
	width:4px;
	height:34px;
	background-image:url('/views/pos/delivery_list_bg03_1.jpg');
}
.delivery_list03_02 {
	background-image:url('/views/pos/delivery_list_bg03_2.jpg');
}
.delivery_list03_03 {
	width:36px;
	background-image:url('/views/pos/delivery_list_bg03_3.jpg');
}
.delivery_list04_01 {
	width:4px;
	height:34px;
	background-image:url('/views/pos/delivery_list_bg04_1.jpg');
}
.delivery_list04_02 {
	background-image:url('/views/pos/delivery_list_bg04_2.jpg');
}
.delivery_list04_03 {
	width:36px;
	background-image:url('/views/pos/delivery_list_bg04_3.jpg');
}
.delivery_list05_01 {
	width:4px;
	height:34px;
	background-image:url('/views/pos/delivery_list_bg05_1.jpg');
}
.delivery_list05_02 {
	background-image:url('/views/pos/delivery_list_bg05_2.jpg');
}
.delivery_list05_03 {
	width:36px;
	background-image:url('/views/pos/delivery_list_bg05_3.jpg');
}
.delivery_list_bg01 {
	width:91px;
	height:34px;
	background-image:url('/views/pos/delivery_icon02.png');
	background-repeat:no-repeat;
	font-size:12px;
	color:#ffffff;
	text-align:center;
}
.delivery_list_bg02 {
	width:68px;
	height:34px;
	background-image:url('/views/pos/delivery_icon03.png');
	background-repeat:no-repeat;
	font-family:"굴림";
	font-size:13px;
	color:#ffffff;
}
.delivery_list_btn_text {
	font-family:"굴림";
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-align:center;
}
.delivery_list_btn_text02 {
	font-family:'Malgun Gothic';
	font-size:13px;
	color:#ffffff;
	padding-left:12px;
}
.delivery_list_btn_text03 {
	font-family:"굴림";
	font-size:13px;
	color:#000000;
}
.delivery_list_btn_text04 {
	font-family:"굴림";
	font-size:13px;
	color:#ffffff;
}
.delivery_list_btn01 {
	width:54px;
	height:34px;
	background-image:url('/views/pos/delivery_list_btn01.jpg');
}
.delivery_list_btn02 {
	width:54px;
	height:34px;
	background-image:url('/views/pos/delivery_list_btn02.jpg');
}
.delivery_input_box1 {
	background:url('/views/pos/delivery_text_box01.jpg'); width:147px; height:35px; border-width:0px; padding:5px 10px;
}
.delivery_input_box2 {
	background:url('/views/pos/delivery_text_box02.jpg'); width:147px; height:35px; border-width:0px; padding:5px 10px;
}
.delivery_input_address {
	background:url('/views/pos/delivery_text_box03.jpg'); width:497px; height:35px; border-width:0px; padding:5px 10px;
}


.text_box01 {
border:1px solid #ffffff;
background-color:#ffffff;
width:181px;
height:24px;
font-family:"굴림";
font-size:14px;
font-weight:bold;
color:#000000;
}

.text_box02 {
border:1px solid #c4c4c4;
background-color:#c4c4c4;
width:181px;
height:24px;
font-family:"굴림";
font-size:14px;
font-weight:bold;
color:#000000;
}

.text_box02 {
border:1px solid #c4c4c4;
background-color:#c4c4c4;
width:181px;
height:24px;
font-family:"굴림";
font-size:14px;
font-weight:bold;
color:#000000;
}

.text_box03 {
font-family:"굴림";
font-size:24px;
text-align:center;
}

.pay_text01 {
font-family:'Malgun Gothic';
font-size:16px;
color:#fffc00;
letter-spacing:0.5em;
}

.pay_text_box {
border:1px solid #ffffff;
width:218px;
height:28px;
font-family:'Malgun Gothic';
font-size:20px;
color:#000000;
}

.pay_list_title td {
font-family:"돋움";
font-size:13px;
color:#ffba00;
text-align:center;
}
.pay_list_center {
text-align:center;
}
.pay_list_right {
text-align:right;
padding-right:10px;
}
.pay_list td {
font-family:"돋움";
font-size:13px;
color:#ffffff;
}
.set_top {
    background-image:url('/views/pos/set_bg01.jpg');
    height:49px;
}
.set_tab {
background-image:url('/views/pos/set_bg04.jpg');
width:208px;
height:49px;
font-family:"돋움";
font-size:16px;
font-weight:bold;
text-align:center;
padding-top:5px;
}
.set_btn td {
padding-left:1px;
padding-bottom:1px;
}
.set_con_bg {
background-image:url('/views/pos/set_con_bg03.jpg');
background-repeat:no-repeat;
background-color:#e8edf3;
}
.set_con_text {
font-family:"돋움";
font-size:16px;
font-weight:bold;
color:#0c3462;
padding-left:15px;
}
.set_con_con {
font-family:"돋움";
font-size:14px;
font-weight:bold;
color:#000000;
}
.styled-select select {
   background:white;
   width:222px;
   padding:5px;
   font-size:16px;
   line-height:1;
   border:0;
   border-radius:0;
   height:34px;
   -webkit-appearance: none;
}
.space3 {
padding-left:3px;
}
.space2 {
padding-left:2px;
}
.space1 {
padding-left:1px;
}
.space3_r {
padding-right:3px;
}

.delivery_text01 {
font-family:'Malgun Gothic';
font-size:15px;
color:#ffffff;
text-align:center;
}
.delivery_text01_over {
color:#fff600;
text-align:center;
}

.delivery_text02 {
font-family:'Malgun Gothic';
font-size:15px;
color:#ffffff;
}

.delivery_btn01 {
background-image:url('/views/pos/delivery_btn01.jpg');
background-repeat:no-repeat;
width:96px;
height:66px;
display:block;
}

.delivery_btn01_over {
background-image:url('/views/pos/delivery_btn01_over.jpg');
background-repeat:no-repeat;
width:96px;
height:66px;
display:block;
}

.delivery_btn02 {
background-image:url('/views/pos/delivery_btn02.jpg');
background-repeat:no-repeat;
width:79px;
height:50px;
display:block;
line-height:50px;
vertical-align:middle;
}

.delivery_btn02_over {
background-image:url('/views/pos/delivery_btn02_over.jpg');
background-repeat:no-repeat;
width:79px;
height:50px;
display:block;
}

.delivery_btn03 {
background-image:url('/views/pos/delivery_btn03.jpg');
background-repeat:no-repeat;
width:79px;
height:50px;
line-height:50px;
vertical-align:middle;
display:block;
}

.delivery_btn03_over {
background-image:url('/views/pos/delivery_btn03_over.jpg');
background-repeat:no-repeat;
width:79px;
height:50px;
display:block;
}

.delivery_btn04 {
background-image:url('/views/pos/delivery_btn04.jpg');
background-repeat:no-repeat;
width:68px;
height:52px;
display:block;
padding-left:4px;
}

.text_box01 {
border:1px solid #ffffff;
background-color:#ffffff;
width:181px;
height:24px;
font-family:"굴림";
font-size:14px;
font-weight:bold;
color:#000000;
}

.text_box02 {
border:1px solid #c4c4c4;
background-color:#c4c4c4;
width:181px;
height:24px;
font-family:"굴림";
font-size:14px;
font-weight:bold;
color:#000000;
}

.text_box02 {
border:1px solid #c4c4c4;
background-color:#c4c4c4;
width:181px;
height:24px;
font-family:"굴림";
font-size:14px;
font-weight:bold;
color:#000000;
}

.text_box03 {
font-family:"굴림";
font-size:24px;
text-align:center;
}

.pay_text01 {
font-family:'Malgun Gothic';
font-size:16px;
color:#fffc00;
letter-spacing:0.5em;
}

.pay_text_box {
border:1px solid #ffffff;
width:218px;
height:28px;
font-family:'Malgun Gothic';
font-size:20px;
color:#000000;
}

.pay_list_title td {
font-family:"돋움";
font-size:13px;
color:#ffba00;
text-align:center;
}
.pay_list_center {
text-align:center;
}
.pay_list_right {
text-align:right;
padding-right:10px;
}
.pay_list td {
font-family:"돋움";
font-size:13px;
color:#ffffff;
}
.set_top {
    background-image:url('/views/pos/set_bg01.jpg');
    height:49px;
}
.set_tab {
background-image:url('/views/pos/set_bg04.jpg');
width:208px;
height:49px;
font-family:"돋움";
font-size:16px;
font-weight:bold;
text-align:center;
padding-top:5px;
}
.set_btn td {
padding-left:1px;
padding-bottom:1px;
}
.set_con_bg {
background-image:url('/views/pos/set_con_bg03.jpg');
background-repeat:no-repeat;
background-color:#e8edf3;
}
.set_con_text {
font-family:"돋움";
font-size:16px;
font-weight:bold;
color:#0c3462;
padding-left:15px;
}
.set_con_con {
font-family:"돋움";
font-size:14px;
font-weight:bold;
color:#000000;
}

.table_search {
	width:100%;
	height:40px;
	color:black
}

.table_default {
	border:0px solid white;
	color:black;
	width:100%;
}
.table_default th {
	height:33px;
	background-color:#B2CCFF;
	padding-left:20px;
	text-align:left;
	background-image:url("/views/admin/icon_dot.png");
	background-repeat:no-repeat;
	background-position:10px center;
}
.table_default td {
	background-color:#ebebeb;
	height:33px;
	padding-left:10px;
}

.table_table {
	border:0px solid white;
}
.table_table td {
	background-color:#f5f5f5;
	text-align:center;
	height:70px;
	vertical-align:middle;
	line-height:70px;
}

.table_con {
	border:0px solid white;
}
.table_con tr {
	background-color:#f5f5f5;
	text-align:center;
	height:80px;
	vertical-align:middle;
	line-height:70px;
}
.table_con div {
	color:white;
	font-size:16px;
	font-weight:bold;
}

.padding3 {
	padding-left:3px;
}
.view_textfiled {
	border:1px solid #dddddd;
	font-size:15px;
}
.view_textfiled0 {
	width:50px;
	height:25px;
	border:1px solid #dddddd;
	font-size:15px;
	padding:0 5px;
}
.view_textfiled1 {
	width:100px;
	height:25px;
	border:1px solid #dddddd;
	font-size:15px;
	padding:0 5px;
}
.view_textfiled2 {
	width:140px;
	height:25px;
	border:1px solid #dddddd;
	font-size:15px;
	padding:0 5px;
}
.view_textfiled3 {
	width:220px;
	height:25px;
	border:1px solid #dddddd;
	font-size:15px;
	padding:0 5px;
}
.view_textfiled4 {
	width:360px;
	height:25px;
	border:1px solid #dddddd;
	font-size:15px;
	padding:0 5px;
}

.align_left { text-align:left }
.align_center { text-align:center; }
.align_right { text-align:right; }

.input_readonly    { border:0px solid white; background:transparent; }
.input_disabled    { border:0px solid white; background:#ffffff; font-weight:bold; }

.noTitleStuff .ui-dialog-titlebar {display:none}

.input_file label { position:relative; cursor:pointer; display:inline-block; margin:0 3px; vertical-align:middle; overflow:hidden; width:100px; height:23px; background:#777; color:#fff; text-align:center; line-height:23px; }
.input_file label input { position:absolute; width:0; height:0; overflow:hidden; }
.input_file input[type=text] { vertical-align:middle; display:inline-block; width:130px; height:21px; line-height:21px; font-size:12px; padding:0; border:0; border:1px solid #dddddd; }
.input_file input[type=button] { cursor:pointer; display:inline-block; border-width:0px; vertical-align:middle; overflow:hidden; width:90px; height:23px; line-height:23px; background:#777; color:#fff; text-align:center; }

.default_table_input { cursor:pointer; display:inline-block; border-width:0px; vertical-align:middle; overflow:hidden; width:100px; height:23px; line-height:23px; background:#777; color:#fff; text-align:center; }