* {
	padding: 0;
	margin: 0;
}
header, nav, footer, article, section, aside, hgroup { 
	display: block;
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
html, body {
	font-family: "맑은 고딕", Dotum, Arial;
	font-size: 13px;
	color: #747474;
	overflow:hidden;
}

.in_1000 {
	width: 1000px;
	position: relative;
}

/************ login *************/
#login_wrap {
	width:845px;
	margin:150px auto;
	position:relative;
}
#login {
	background-image:url(/views/login/login02.jpg);
	height:70px;
}
.login_text {
	width:145px;
	height:29px;
	border:1px solid #fff;
}
#login_text_box {
	margin-left:308px;
	padding-top:1px;
}
#imageDiv {
	height: 224px;
}